.form_label {
  display: inline-block;
  text-align: left !important;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.messageBox {
  border-radius: 5px;
  text-align: center;
  padding : 10px 0px;
}

.successBox {
  background-color: #d6f5d6;
  border : 2px solid #32cd32;
}

.successBox > div {
  color : #32cd32;
}

.errorBox {
  background-color: #ffcccc;
  border : 2px solid #ff3333;
}

.errorBox > div {
  color : #ff3333;
}
