<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Employee API <i class="fas fa-chevron-right"></i></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/index.js"></script>
  </head>
  <body>
    <h2 class="text-center py-4 bg-info">Employees API</h2>
    <div class="w-75 mx-auto">
      <p class="text-center">API for basic CRUD operations on employee data. Use the endpoints or the forms below to interact with the API</p>
      <div class="infoContainer mb-4">
        <div class="text-center h4" onclick="toggleReqCont(this)">Endpoints <i class="fas fa-chevron-right"></i></div>
        <div id="mainReqCont" style="display:none;">
          <div class="">
            <h4>GET requests</h4>
            <div class="">
              <div class="reqDiv">
                <h6>/api/employee_names</h6>
                <p>Returns all employee names</p>
              </div>
              <div class="reqDiv">
                <h6>/api/employees_id</h6>
                <p>Returns all employee IDs</p>
              </div>
              <div class="reqDiv">
                <h6>/api/employee_records</h6>
                <p>Returns all employee Records</p>
              </div>
              <div class="reqDiv">
                <h6>/api/employee_records/employee_id</h6>
                <p>Returns employee Record for given employee id</p>
              </div>
              <div class="reqDiv">
                <h6>/api/employee_records/employee_name</h6>
                <p>Returns employee Record for given employee name. Proper format is firstName_lastName</p>
              </div>
            </div>
          </div>

          <div class="">
            <h4>POST Requests</h4>
            <div class="reqDiv">
              <h6>/api/employee_records</h6>
              <p>Request must have json formatted data. Required keys are first_name, last_name, address, salary, date_hired</p>
              <p><span class="font-weight-bold d-block">Example using cURL:</span>curl -X POST -d '{"first_name":"John","last_name":"Doe","address":"66 Foyer Ave","salary":"98000","date_hired":"2/12/2014"}' -H "Content-Type: application/json" http://127.0.0.1:5000/api/employee_records
</p>
            </div>

          </div>

          <div class="">
            <h4>DELETE Requests</h4>
            <div class="reqDiv">
              <h6>/api/employee_records/employee_id</h6>
              <p>Deletes the employee record of given employee_id</p>
            </div>
            <div class="reqDiv">
              <h6>/api/employee_records/employee_name</h6>
              <p>Deletes the employee record of given employee_name. Name must be formatted as firstName_lastName</p>
            </div>
          </div>

          <div class="">
            <h4>PUT Requests</h4>
            <div class="reqDiv">
              <h6>/api/employee_records/employee_id</h6>
              <p>Request must have json formatted data. Required keys are first_name, last_name, address, salary, date_hired. Only keys with values will be updated</p>
              <p><span class="font-weight-bold d-block">Example using cURL:</span>curl -X PUT -d '{"first_name":"","last_name":"","address":"","salary":"98000","date_hired":""}' -H "Content-Type: application/json" http://127.0.0.1:5000/api/employee_records/1</p>
              <span>Will update the salary to 98000 of record with employee_id of 1</span>
            </div>
            <div class="reqDiv">
              <h6>/api/employee_records/employee_name</h6>
              <p>Request must have json formatted data. Required keys are first_name, last_name, address, salary, date_hired. Only keys with values will be updated</p>
              <p><span class="font-weight-bold d-block">Example using cURL:</span>curl -X PUT -d '{"first_name":"","last_name":"","address":"","salary":"98000","date_hired":""}' -H "Content-Type: application/json" http://127.0.0.1:5000/api/employee_records/1</p>
              <span>Will update the salary to 98000 of record with employee_id of 1</span>
            </div>
          </div>

        </div>

      </div>

      <div class="btn-wrapper">
        <button class="btn btn-info mx-3 p-2" type="button" name="button" onclick="allEmployeeData();">Get All Employee Data</button>
        <button class="btn btn-info mx-3 p-2" type="button" name="button" onclick="employeeSalaries();">Get Employee Salaries</button>
        <button class="btn btn-info mx-3 p-2" type="button" name="button" onclick="employeeAddresses();">Get Employee Addresses</button>
      </div>

      <div class="infoContainer my-4">
        <div class="h4 text-center py-3" onclick="expandForm(this)">Get Employee Data <i class="fas fa-chevron-right"></i></div>
        <form id="getForm" class="w-50 mx-auto form-div" style="display:none;">
          <p class="text-center">* Input employee ID <strong>OR</strong> employee name *</p>
          <div class="messageBox" style="display:none;">
              <div class=""><span class="result"></span> : <span class="message"></span></div>
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_id">Employee ID</label>
            <input id="get_id" class="form-control" type="text" name="employee_id" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Employee Name</label>
            <input id="get_name" class="form-control" type="text" name="employee_name" value="">
          </div>
          <div class="btn-wrapper pb-3">
            <button class="btn btn-info" type="submit">Get Data</button>
          </div>
        </form>
      </div>

      <div class="infoContainer my-4">
        <div class="h4 text-center py-3" onclick="expandForm(this)">Update Employee Info <i class="fas fa-chevron-right"></i></div>
        <form id="putForm" class="w-50 mx-auto form-div" style="display:none;">
          <p class="text-center">* <strong>Must input employee ID.</strong> All other inputs are optional. Only inputs with values will be updated *</p>
          <div class="messageBox" style="display:none;">
              <div class=""><span class="result"></span> : <span class="message"></span></div>
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_id">Employee ID</label>
            <input id="put_id" class="form-control" type="text" name="employee_id" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="first_name">First Name</label>
            <input id="put_fname" class="form-control" type="text" name="first_name" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="last_name">Last Name</label>
            <input id="put_lname" class="form-control" type="text" name="last_name" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="address">Address</label>
            <input id="put_address" class="form-control" type="text" name="address" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="salary">Salary</label>
            <input id="put_salary" class="form-control" type="text" name="salary" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for=date_hired">Date Hired</label>
            <input id="put_dhired" class="form-control" type="text" name="date_hired" value="">
          </div>
          <div class="btn-wrapper pb-3">
            <button class="btn btn-info" type="submit" name="button">Update Data</button>
          </div>
        </form>
      </div>

      <div class="infoContainer my-4">
        <div class="h4 text-center py-3" onclick="expandForm(this)">Create New Employee Record <i class="fas fa-chevron-right"></i></div>
        <form id="postForm" class="w-50 mx-auto form-div" style="display:none;">
          <p class="text-center">*<strong>All input fields are required</strong>*</p>
          <div class="messageBox" style="display:none;">
              <div class=""><span class="result"></span> : <span class="message"></span></div>
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_id">First Name</label>
            <input class="form-control" type="text" name="first_name" id="post_fname" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Last Name</label>
            <input class="form-control" type="text" name="last_name" id="post_lname" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Address</label>
            <input class="form-control" type="text" name="address" id="post_address" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Salary</label>
            <input class="form-control" type="text" name="salary" id="post_salary" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Date Hired</label>
            <input class="form-control" type="text" name="date_hired" id="post_dhired" value="">
          </div>
          <div class="btn-wrapper pb-3">
            <button class="btn btn-info" type="submit">Post Data</button>
          </div>
        </form>
      </div>

      <div class="infoContainer my-4">
        <div class="h4 text-center py-3" onclick="expandForm(this)">Delete Employee Data <i class="fas fa-chevron-right"></i></div>
        <form id="deleteForm" class="w-50 mx-auto form-div" style="display:none;">
          <p class="text-center">* Input employee ID <strong>OR</strong> employee name *</p>
          <div class="messageBox" style="display:none;">
              <div class=""><span class="result"></span> : <span class="message"></span></div>
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_id">Employee ID</label>
            <input id="del_id" class="form-control" type="text" name="employee_id" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Employee Name</label>
            <input id="del_name" class="form-control" type="text" name="employee_name" value="">
          </div>
          <div class="btn-wrapper pb-3">
            <button class="btn btn-info" type="submit">Delete Data</button>
          </div>
        </form>
      </div>

    </div>
  </body>
</html>
