<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Employee API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/index.js"></script>
  </head>
  <body>
    <h2 class="text-center">Employees API</h2>
    <div class="w-100">
      <p class="text-center">API for basic CRUD operations on employee data. HERE are the API endpoints. Or you can use the forms below to interact with the API</p>

      <div class="btn-wrapper">
        <button class="btn btn-info" type="button" name="button" onclick="allEmployeeData();">Get All Employee Data</button>
      </div>

      <div class="bg-light my-4">
        <div class="h4 text-center py-3" onclick="expandForm(this)">Get Employee Data</div>
        <form id="getForm" class="w-50 mx-auto form-div" style="display:none;">
          <p class="text-center">* Input employee ID <strong>OR</strong> employee name *</p>
          <div class="form-group">
            <label class="form_label" for="employee_id">Employee ID</label>
            <input id="get_id" class="form-control" type="text" name="employee_id" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Employee Name</label>
            <input id="get_name" class="form-control" type="text" name="employee_name" value="">
          </div>
          <div class="btn-wrapper pb-3">
            <button class="btn btn-info" type="submit">Get Data</button>
          </div>
        </form>
      </div>

      <div class="bg-light my-4">
        <div class="h4 text-center py-3" onclick="expandForm(this)">Update Employee Info</div>
        <form id="putForm" class="w-50 mx-auto form-div" style="display:none;">
          <p class="text-center">* <strong>Must input employee ID.</strong> All other inputs are optional. Only inputs with values will be updated *</p>
          <div class="form-group">
            <label class="form_label" for="employee_id">Employee ID</label>
            <input class="form-control" type="text" name="employee_id" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_id">First Name</label>
            <input class="form-control" type="text" name="first_name" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Last Name</label>
            <input class="form-control" type="text" name="last_name" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Address</label>
            <input class="form-control" type="text" name="address" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Salary</label>
            <input class="form-control" type="text" name="salary" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Date Hired</label>
            <input class="form-control" type="text" name="date_hired" value="">
          </div>
          <div class="btn-wrapper pb-3">
            <button class="btn btn-info" type="submit" name="button">Update Data</button>
          </div>
        </form>
      </div>

      <div class="bg-light my-4">
        <div class="h4 text-center py-3" onclick="expandForm(this)">Create New Employee Record</div>
        <form id="postForm" class="w-50 mx-auto form-div" style="display:none;">
          <p class="text-center">*<strong>All input fields are required</strong>*</p>
          <div class="form-group">
            <label class="form_label" for="employee_id">First Name</label>
            <input class="form-control" type="text" name="first_name" id="post_fname" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Last Name</label>
            <input class="form-control" type="text" name="last_name" id="post_lname" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Address</label>
            <input class="form-control" type="text" name="address" id="post_address" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Salary</label>
            <input class="form-control" type="text" name="salary" id="post_salary" value="">
          </div>
          <div class="form-group">
            <label class="form_label" for="employee_name">Date Hired</label>
            <input class="form-control" type="text" name="date_hired" id="post_dhired" value="">
          </div>
          <div class="btn-wrapper pb-3">
            <button class="btn btn-info" type="submit">Post Data</button>
          </div>
        </form>
      </div>

      <div class="bg-light my-4">
        <div class="h4 text-center py-3" onclick="expandForm(this)">Delete Employee Data</div>
        <form id="deleteForm" class="w-50 mx-auto form-div" style="display:none;">
          <p class="text-center">* Input employee ID <strong>OR</strong> employee name *</p>
          <div class="form-group">
            <label id="del_id" class="form_label" for="employee_id">Employee ID</label>
            <input class="form-control" type="text" name="employee_id" value="">
          </div>
          <div class="form-group">
            <label id="del_name" class="form_label" for="employee_name">Employee Name</label>
            <input class="form-control" type="text" name="employee_name" value="">
          </div>
          <div class="btn-wrapper pb-3">
            <button class="btn btn-info" type="submit">Delete Data</button>
          </div>
        </form>
      </div>

    </div>
  </body>
</html>
